/* Enter your custom styles here */

.LoginForm {
    margin-top: 10%;
}

.Hlayout {
    display: flex !important;
    flex-wrap: wrap;
}

.pr1 {
    border-top: 5px solid blue;
}

.pr2 {
    border-top: 5px solid yellow;
}

.pr3 {
    border-top: 5px solid red;
}